@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #3498db;
    --secondary-color: #c790a2 ;
    --text-color: #333;
    --header-background:azure;
    --main-font: 'Lato';
    --book-background:lightblue;
    --custom-btn-background:#d6a4b5;
    --custom-btn-shadow:-6px -6px 10px rgba(185, 171, 171, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    --custom-btn-active:inset -4px -4px 8px rgba(199, 165, 165, 0.5);    
}


body {
    font-family: var(--main-font), sans-serif;
    word-wrap: break-word;
    min-height: 100vh;
    position: relative;
    padding-bottom: 41px;
}

.header {
    text-align: center;
    max-height: 200px;
    background-color: var(--header-background);
    padding: 20px;
    letter-spacing: 3px;
}

.container {
    padding: 0 20px;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bookContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 5px solid var(--text-color);
    border-radius: 25px;
    height: 300px;
    width: 300px;
    padding: 15px;
    margin: 20px;
    background-color: var(--book-background);
}

.book {
    font-size: 22px;
}

.book .title {
    font-weight: bolder;
    text-decoration: underline;
}

.book button {
    border: none;
    color: black;
    background-color:  var(--secondary-color);
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 35px;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
}

.book button:hover {
    opacity: 0.8;
}

.book button:active {
    transform: scale(0.98);
}
.book button.notRead{
      background-color: red;
      color: white;
}

.book button.read{
    background-color: green;
    color: white;
}
.button {
    width: max-content;
    height: max-content;
    background: var(--custom-btn-background);
    position: relative;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.1s ease-in-out;
    user-select: none;
    margin-top: 10px;
}

.button span {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
}

.button:hover {
    opacity: 0.6;
    box-shadow: var(--custom-btn-shadow)
}

.button:active {
    opacity: 1;
    box-shadow: var(--custom-btn-active);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 0 5px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}

.fa-github {
    font-size: 24px;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.1);
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 300px;
    background-color: var(--primary-color);
    padding: 20px;
    z-index: 3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%)scale(0);
    transition:transform 0.3s ease-in-out;
}

.formContainer.active {
    transform: translate(-50%, -50%)scale(1);
     
}

input {
    border-radius: 50px;
    height: 40px;
    padding: 10px;
    font-size: 18px;

}

.read-or-not {
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
    text-align: center;
    align-items: center;
}


input[type='submit'] {
    color: black;
    font-weight: bold;
    background-color: lightblue;
    text-align: center;
    padding: 0 !important;
    width: 100%;
}

input#read {
    width: 20px;
    height: 24px;
}